@charset "UTF-8";
.modal label{

font-size:12px;
}
.modal input{

font-size:11px;
     background-color: white; 
border:none;
}
 .modal #submit{
 background-color:#1582AB;
 }
 #content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #1582AB ;
    border-radius: 1.1rem;
    outline: 0;

 }
