<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ERP</display-name>

	<welcome-file-list>
		<welcome-file>iframe.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>configuredUploadDir</param-name>
		<param-value>/usr/share/tomcat6/webapps/TransworldDocs/ERPDocs</param-value>
	</context-param>

	<context-param>
		<param-name>configuredUploadImage</param-name>
		<param-value>/images1/ERPDocs</param-value>
	</context-param>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.erp.beans.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/s</url-pattern>
	</servlet-mapping>

</web-app>